@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen(lg) {
	.bg-hero {
		width: 2000px;
		height: 300px;
		left: 30%;
		@apply absolute top-52 rounded-l-full bg-softBlue;
	}

	.bg-tabs {
		width: 2000px;
		height: 300px;
		right: 60%;
		@apply absolute top-60 rounded-r-full bg-softBlue;
	}
}

.nav-link {
	@apply tracking-widest  duration-200 group-hover:text-softRed;
}

.btn-chrome {
	@apply rounded-md border-2 border-softBlue bg-softBlue px-7 py-3 text-xs font-semibold text-white shadow-md duration-200 hover:bg-white hover:text-softBlue md:text-base;
}

.btn-firefox {
	@apply rounded-md border-2 border-grayishBlue bg-grayishBlue px-7 py-3 text-xs font-semibold text-veryDarkBlue shadow-md duration-200 hover:bg-white hover:text-veryDarkBlue md:text-base;
}

.tab-panel {
	@apply flex cursor-pointer justify-center border-b text-center text-grayishBlue duration-200 hover:text-softRed md:w-1/3 md:border-b-0;
}
